* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans TC', Arial, sans-serif;
    line-height: 1.6;
    background-color: #F2EAD7;
    color: #1C0D0D;
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: rgb(255, 254, 248);
    padding: 10px 0;
    transition: all 0.3s ease;
}

/* Nav*/
.nav-LayoutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 254, 248);
    padding: 10px 50px;
    transition: all 0.3s ease;
    margin-bottom: 50px;
}

.nav-ImgLogo {
    width: 90px;
    height: 90px;
    transition: all 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

nav ul li {
    width: 120px;
    font-size: 2rem;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: #1C0D0D;
    font-weight: bold;
}

nav ul li a:hover {
    color: #C69455;
}

.shrink {
    padding: 5px 0;
}

.shrink .nav-LayoutContainer {
    padding: 5px 30px;
}

.shrink .nav-ImgLogo {
    width: 60px;
    height: 60px;
}

.shrink nav ul li {
    font-size: 1rem;
    width: 80px;
}


/* Main */
.main-Title-layout {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.main-Players-Title {
    font-size: 4rem;
    font-weight: bold;
}

.main-grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
    text-align: center;
}


.main-photo {
    width: 300px;
    height: 400px;
    opacity: 1;
    background-color: #C69455;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear;
}

.main-photo-ZoomIn{
    transition: all 0.3s linear;
}

.main-photo-ZoomIn:hover{
    transform: scale(1.1);
}

.main-photo.new {
    opacity: 1;
}

.opacity-back{
    opacity: 1;
}

.main-photo-animation1{
    animation-name: photo1-up;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    
}

.main-photo-animation2{
    transition: all 0.3s ease;
    animation-name: photo2-up;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}
.main-photo-animation3{
    transition: all 0.3s ease;
    animation-name: photo3-up;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}
.main-photo-animation4{
    transition: all 0.3s ease;
    animation-name: photo4-up;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.7s;
}
.main-photo-animation5{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.9s;
}
/* .main-photo-animation6{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
}
.main-photo-animation7{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.main-photo-animation8{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.main-photo-animation9{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
.main-photo-animation10{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.main-photo-animation11{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.main-photo-animation12{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.main-photo-animation13{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
}
.main-photo-animation14{
    transition: all 0.3s ease;
    animation-name: photo5-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
} */





@keyframes photo-shrink{
    from {
        transform: scale(1.1);
        
    }
    to {
        transform: scale(1.0);
    }
}

.main-photo-name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2rem;
    padding: 10px 0;
    text-align: center;
    z-index: 100;
}

.main-photo-CapName{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2rem;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}

.main-CapNumber-layout{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.main-CapBar{
    width: 100%;
    border: #ffffff 1px solid;
}

.main-photo-CapName h2{
    font-weight: normal;
}

.main-photo-name h2 {
    font-weight: normal;
}


.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Footer */
.footer-Layout {
    height: 300px;
    width: 100%;
    background-color: #1C0D0D;
    text-align: center;
    padding: 50px 200px;
    margin-top: 200px;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-ImgLogo {
    width: 300px;
    height: 200px;
    background-color: #C69455;
}

.footer-Text1-Layout {
    text-align: left;
}

.footer-Title1 {
    color: #F2EAD7;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .footer-Layout ul {
    list-style: none;
    padding: 0;
    font-size: 2rem;
    color: #F2EAD7;
}

footer .footer-Layout ul li a {
    text-decoration: none;
    color: #F2EAD7;
}

.footer-Text2-Layout {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}


/* keyframes */

/* main photo 1~3 */
@keyframes photo1-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) none;
        color: #1C0D0D;
        
    }
}

/* main photo 4~6 */
@keyframes photo2-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: #1C0D0D;
    }
}

/* main photo 7~9 */
@keyframes photo3-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: #1C0D0D;
    }
}

/* main photo 10~12 */
@keyframes photo4-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: #1C0D0D;
    }
}

/* main photo 13~14 */
@keyframes photo5-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: #1C0D0D;
    }
}
