* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 75%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Noto Sans TC', Arial, sans-serif;
    line-height: 1.6;
    background-color: #F2EAD7;
    color: #1C0D0D;
}
.container {
    width: 60%;
    margin: auto;
    /* overflow: hidden; */
}

/* Header */
header {
    background-color: rgb(255, 254, 248);
    padding: 10px 0;
    transition: all 0.3s ease; 
}

/* Nav*/
.nav-LayoutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 254, 248);
    padding: 10px 50px;
    transition: all 0.3s ease;
    
}

.nav-ImgLogo {
    width: 90px;
    height: 90px;
    transition: all 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

nav ul li {
    width: 120px;
    font-size: 2rem;
    padding: 10px;
    transition: all 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: #1C0D0D;
    font-weight: bold;
}

nav ul li a:hover {
    color: #C69455;
}

.nav-shrink {
    padding: 5px 0;
}

.nav-shrink .nav-LayoutContainer {
    padding: 5px 30px;
}

.nav-shrink .nav-ImgLogo {
    width: 60px; 
    height: 60px;
}

.nav-shrink nav ul li {
    font-size: 1rem; 
    width: 80px;
}

/* Main */
/* Slogan section */
.section-slogan {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    transition: all 0.3s ease;
}
.section-slogan-Title {
    font-size: 4rem;
    font-weight: bold;
    animation-name: text-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.section-slogan-Subtitle {
    font-size: 2rem;
    color: none;
    opacity: 0;
    animation-name: Subtitle-text-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

/* Hero Section */
.section-hero{
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #1c0d0d;
    text-align: center;
    /* border-radius: 40px; */
}

/* Team-Introduction*/
.section-TeamIntro{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #C69455;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 5px #9A9590, -5px 0px 10px 5px #9A9590;
}
.section-Title1-Layout{
    height: 140px;
    background-color: #724211;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 10px;
    transition: all 0.3s linear ;
    animation-name: background-color-MiddleToSide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.section-Title1{
    color: #F2EAD7;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    
}

.Title1-line{
    width: 100%;
    border: #000000 1.5px solid;
    margin-bottom: 20px;
}

.section-Text1-Layout{
    height: auto;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    gap: 5px;
    margin-bottom: 30px;
}
.section-Competitive-Background{
    height: 280px;
    width: 47.5%;
    /* background-color: #9595B5; */
    border-radius: 40px;
    padding: 10px 40px;
    
}
.section-TeamIntro-Competitive{
    font-size: 4rem;
    font-weight:bold;
    line-height: 1.6;
    text-align: left;
    color: #F2EAD7;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 10px;
}

.Title2-line{
    width: 100%;
    border: #1C0D0D 1.5px solid;
    margin-bottom: 20px;
}

.section-TeamIntro ul {
    list-style-type: disc ;
    padding-left: 20px;
    line-height: 1.5;
    
}
.section-TeamIntro ul li{
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 10px;
    color: #F2EAD7;
}
.section-Leisure-Background{
    height: 280px;
    width: 47.5%;
    /* background-color: #9595B5; */
    border-radius: 40px;
    padding: 10px 40px;
}
.section-TeamIntro-Leisure{
    font-size: 4rem;
    font-weight: bold;
    color: #F2EAD7;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 10px;
}
.section-TeamIntro-Leisure-Item {
    list-style-type: disc ;
    padding-left: 20px;
    line-height: 1.5;
    display: inline-block;
    text-align: left;
    
}
.section-TeamIntro-Leisure-Item li{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #F2EAD7;
}

/* PracticeTime Section */
.section-PracTime{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #C69455;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 5px #aaaaaa, -5px 0px 10px 5px #aaaaaa;
}
.section-PracTime-Background{
    height: 140px;
    width: 47.5%;
    border-radius: 20px;
    /* background-color: #9595B5; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
}
.section-PracTime-Week{
    font-size: 4rem;
    line-height: 1.6;
    color: #F2EAD7;
    display: inline-block;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Footer */
.footer-Layout{
    height: 300px;
    width: 100%;
    background-color: #1C0D0D;
    text-align: center;
    padding: 50px 200px;
    margin-top: 200px;
    border-radius: 40px 40px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-ImgLogo {
    width: 300px;
    height: 200px;
    background-color: #C69455;
}
.footer-Text1-Layout {
    text-align: left;
}
.footer-Title1 {
    color: #F2EAD7;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
footer .footer-Layout ul {
    list-style: none;
    padding: 0;
    font-size: 2rem;
    color: #F2EAD7;
}
footer .footer-Layout ul li a{
    text-decoration: none;
    color: #F2EAD7;
}
.footer-Text2-Layout{
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

/* keyframes*/

/* .section-slogan-Title */
@keyframes text-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        color: #1C0D0D;
    }
}

/* .section-slogan-Subtitle */
@keyframes Subtitle-text-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0.75;
        transform: translateY(0);
        color: #1C0D0D;
    }
}


@keyframes background-color-MiddleToSide{
    0%{
        transform-origin: 50%;
        transform: scaleX(0%);
    }
    100%{
        transform-origin: 50%;
        transform: scaleX(100%);
    }
}